.btn{
  width: 200px;
  border: none;
  padding: 2%;
  border-radius: .25em;
  font-size: 1rem;
  font-weight: bold;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  text-transform: uppercase;
  margin: 2%;
  box-shadow: rgba(247, 244, 244, 0.15) 1.95px 1.95px 2.6px;
}